.wrapper {
  position: absolute;
}

.dropdown {
  width: 248px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.header {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ced0d4;
}

.body {
  padding: 1rem 0.5rem;
}
