@import '../../assets/scss/mixins';

.projectsList {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.projectsListItem {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
  flex: 0 0 auto;
  width: 25%;

  &:nth-child(n + 5) {
    margin-top: 1rem;
  }
}

.projectName {
  width: calc(100% - 2rem);
}

.tasksCount {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #c4c4c4;
}

.btnMore {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 1rem;
  background-color: #fff;

  @include btn-reset();
  @include hover-color($color: #f0f0f0);
  @include btn-active();
}
